<!DOCTYPE html>
<html>
<head>
  <title>The Adventures of Jan and Rocket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700italic,700|Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div id="banner">
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<div class="row hide-for-large-up">
				<div class="small-12 medium-12 columns">
					<a id="mnav-link" href="#">Menu</a>
					<ul id="mnav">
						<li class="banner-link"><%= link_to("Current Episode", Episode.where(:is_published => 1).last) %></li>
						<li class="banner-link"><%= link_to("Start at the Beginning", Episode.first) %></li>
						<li class="banner-link"><%= link_to("Past Episodes", episodes_path) %></li>
						<li class="banner-link"><a href="/terminology">Terminology</a></li>
						<li class="banner-link"><a href="/characters">Characters</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="small-1 medium-1 large-1 columns"></div>
				<div class="small-11 medium-11 large-11 columns">
					<h1>The Adventures of Jan and Rocket</h1>
				</div>
			</div>
			<div class="row show-for-large-up">
				<div class="large-12 columns">
					<ul id="home-nav">
						<li class="banner-link"><%= link_to("Current Episode", Episode.where(:is_published => 1).last) %></li>
						<li class="banner-link"><%= link_to("Start at the Beginning", Episode.first) %></li>
						<li class="banner-link"><%= link_to("Past Episodes", episodes_path) %></li>
						<li class="banner-link"><a href="/terminology">Terminology</a></li>
						<li class="banner-link"><a href="/characters">Characters</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="home-content">
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<%= cms_block_content(:content).html_safe %>	
		</div>
	</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67491748-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
